<header class="banner">
    <div class="banner__contents">
      <h1 class="banner__title">Money Heist</h1>
      <div class="banner__buttons">
        <button class="banner__button">Play</button>
        <button class="banner__button">My List</button>
      </div>
      <h1 class="banner__description">
        To carry out the biggest heist in history, a mysterious man called The Professor recruits
        a band of eight robbers who have a single characteristic: n...
      </h1>
    </div>
    <div class="banner--fadeBottom"></div>
  </header>